<div class="col-xs-12">
  
  <div class="row">
    <div class="pull-left col-md-6 col-xs-12">
      <mat-form-field class="col-md-6 col-xs-12">
        <input matInput (change)="listarUsuarios($event.target.value, null)" placeholder="Buscar">
      </mat-form-field>
    </div>

    <div class="pull-right col-md-6 col-xs-12">
      <mat-checkbox class="col-md-6 col-xs-12" (change)="listarUsuarios(null, !$event.checked)">Sem vínculo</mat-checkbox>
    </div>
  </div>

  <table mat-table [dataSource]="usuarios" class="mat-elevation-z8 col-xs-12">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="associado">
      <th mat-header-cell *matHeaderCellDef> Associado </th>
      <td mat-cell *matCellDef="let element"> {{element.isAssociated ? 'SIM' : 'NÃO'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>
</div>