<div class="col-xs-12">
  <table mat-table [dataSource]="imagens" class="mat-elevation-z8 col-xs-12">
    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef> Roteiro </th>
      <td mat-cell *matCellDef="let element"> {{element.section}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;" class="clickable" (click)="selecionarLinha(row)"></tr>
  </table>
</div>