<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Home</a>
      <a mat-list-item routerLink="usuario">Usuários</a>
      <a mat-list-item routerLink="checklist">Check List</a>
      <a mat-list-item routerLink="voucher">Voucher</a>
      <!-- <a mat-list-item routerLink="programacao">Programação</a> -->
      <a mat-list-item routerLink="imagem">Imagem</a>
      <!-- <a mat-list-item routerLink="wishlist">Wishlist</a> -->
      <a mat-list-item routerLink="/">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="tituloPagina">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Roteiro em Orlando</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>