<div class="col-xs-12">
    <mat-card-title>{{imagem.section}}</mat-card-title>

    <mat-card class="col-xs-12 cardNovo">
        <div class="form-group">
            <mat-form-field class="col-xs-12">
                <input matInput placeholder="URL para redirecionamento" [(ngModel)]="imagem.destination" name="imagem.destination">
            </mat-form-field>
        </div>
    </mat-card>

    <mat-card class="col-xs-12 cardNovo">
        <form>
            <ng-template *ngIf="imagem.section == 'Slider'; then uploadSlider else uploadFooter"></ng-template>

            <ng-template #uploadFooter>
                <div class="form-group">
                    <button mat-raised-button color="basic" (click)="imagem1Input.click()">Escolher imagem #1</button>
                    <input type="file" #imagem1Input style="display:none" (change)="controleTela.imagem1 = $event.target.files[0]">
                    <label *ngIf="controleTela.imagem1">{{controleTela.imagem1.name}}</label>
                </div>
            </ng-template>

            <ng-template #uploadSlider>
                <div class="form-group">
                    <button mat-raised-button color="basic" (click)="imagem1Input.click()">Escolher imagem #1</button>
                    <input type="file" #imagem1Input style="display:none" (change)="controleTela.imagem1 = $event.target.files[0]">
                    <label *ngIf="controleTela.imagem1">{{controleTela.imagem1.name}}</label>
                </div>

                <div class="form-group">
                    <button mat-raised-button color="basic" (click)="imagem2Input.click()">Escolher imagem #2</button>
                    <input type="file" #imagem2Input style="display:none" (change)="controleTela.imagem2 = $event.target.files[0]">
                    <label *ngIf="controleTela.imagem2">{{controleTela.imagem2.name}}</label>
                </div>

                <div class="form-group">
                    <button mat-raised-button color="basic" (click)="imagem3Input.click()">Escolher imagem #3</button>
                    <input type="file" #imagem3Input style="display:none" (change)="controleTela.imagem3 = $event.target.files[0]">
                    <label *ngIf="controleTela.imagem3">{{controleTela.imagem3.name}}</label>
                </div>

                <div class="form-group">
                    <button mat-raised-button color="basic" (click)="imagem4Input.click()">Escolher imagem #4</button>
                    <input type="file" #imagem4Input style="display:none" (change)="controleTela.imagem4 = $event.target.files[0]">
                    <label *ngIf="controleTela.imagem4">{{controleTela.imagem4.name}}</label>
                </div>
            </ng-template>
        </form>

        <div class="btn-group pull-right">
            <button class="btn" mat-raised-button color="primary" (click)='update()'>Salvar</button>
        </div>
    </mat-card>

    <mat-card-title>Imagens Utilizadas</mat-card-title>
    <mat-card class="col-xs-12 text-center">
        <img src="{{imagem?.image1DownloadURL}}">
    </mat-card>

    <mat-card class="col-xs-12 text-center" *ngIf="imagem.section == 'Slider'">
        <img src="{{imagem?.image2DownloadURL}}">
    </mat-card>

    <mat-card class="col-xs-12 text-center" *ngIf="imagem.section == 'Slider'">
        <img src="{{imagem?.image3DownloadURL}}">
    </mat-card>

    <mat-card class="col-xs-12 text-center" *ngIf="imagem.section == 'Slider'">
        <img src="{{imagem?.image4DownloadURL}}">
    </mat-card>
</div>