<div class="col-xs-12">
  <div class="row">
    <div class="pull-right col-xs-12">
      <button mat-raised-button color="primary" class="pull-right" routerLink='cadastro'>Cadastrar Voucher</button>
    </div>

    <div class="pull-left col-xs-12">
      <mat-form-field class="col-xs-12">
        <input matInput (keyup)="listarUsuarios($event.target.value)" placeholder="Buscar">
      </mat-form-field>
    </div>
  </div>

  <table mat-table [dataSource]="usuarioVoucher" class="mat-elevation-z8 col-xs-12">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="voucher">
      <th mat-header-cell *matHeaderCellDef> Vouchers </th>
      <td mat-cell *matCellDef="let element">
        <p *ngFor="let voucher of element.vouchers">{{voucher.nome}}</p>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;" class="clickable" (click)="selecionarLinha(row)"></tr>
  </table>
</div>