<div class="col-xs-12">
  <div class="pull-left">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <mat-checkbox (keyup)="applyFilter($event.target.value)">Sem vínculo</mat-checkbox>
  </div>
  
  <div class="pull-right">
    <button mat-raised-button color="primary"  routerLink='cadastro'>Cadastrar Usuário</button>
  </div>

  <table mat-table [dataSource]="usuarios" class="mat-elevation-z8 col-xs-12">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
  </table>
</div>