<div class="col-xs-12">
    <mat-card-title>Checklist Orlando</mat-card-title>
    
    <mat-card class="form-group col-xs-12" *ngFor="let item of checklist; let i = index">
        <mat-form-field class="col-xs-12 ">
            <input matInput placeholder="Item" [(ngModel)]="checklist[i].task" name="task{{i}}">
        </mat-form-field>
        <mat-form-field class="col-xs-12 ">
            <input type="number" matInput placeholder="Dias de antecedência" [(ngModel)]="checklist[i].daysBefore" name="daysBefore{{i}}">
        </mat-form-field>
    </mat-card>

    <div class="form-group row">
        <div class="pull-left col-xs-12 col-md-2">
            <button class="btn form-control" mat-raised-button color="primary" (click)="checklist.push({})">Incluir novo item</button>
        </div>
    </div>

    <div class="form-group">
        <button class="btn pull-right" mat-raised-button color="primary" (click)='update()'>Salvar</button>
    </div>
</div>