<div class="col-xs-12">
    <mat-card class="col-xs-12 cardNovo">
        <mat-card-title>
            Novo Voucher {{id && usuarios.length > 0 ? ('para '+ usuarios[0]?.name) : ''}}
        </mat-card-title>
        <form>
            <div class="form-group">
                <mat-form-field class="col-xs-12">
                    <mat-select placeholder="Usuário" [(ngModel)]="voucher.userId" name="voucher.userId" [disabled]="id">
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.uid">{{usuario.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="col-xs-12">
                    <input matInput placeholder="Nome do voucher" [(ngModel)]="voucher.name" name="voucher.name">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="col-xs-12">
                    <mat-select placeholder="Categoria do Voucher" [(ngModel)]="voucher.category" name="voucher.category">
                        <mat-option value="Aéreo">Aéreo</mat-option>
                        <mat-option value="Hospedagem">Hospedagem</mat-option>
                        <mat-option value="Transporte">Transporte</mat-option>
                        <mat-option value="Ingresso">Ingresso</mat-option>
                        <mat-option value="Seguro viagem">Seguro viagem</mat-option>
                        <mat-option value="Cupom de desconto">Cupom de desconto</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group row">
                <div class="pull-left col-xs-12 col-md-2">
                    <button mat-raised-button color="basic" class="form-control" (click)="fileInput.click()">Escolher arquivo</button>
                    <input type="file" #fileInput style="display:none" (change)="arquivo = $event.target.files[0]">
                    <label *ngIf="arquivo">{{arquivo.name}}</label>
                </div>
            </div>

            <div class="btn-group pull-right">
                <button class="btn" mat-raised-button color="primary" (click)='salvar()'>Salvar</button>
            </div>
        </form>
    </mat-card>

    <mat-card-title *ngIf="id && !vouchers">
        Usuário sem vouchers
    </mat-card-title>

    <mat-card class="col-xs-12" *ngIf="id && vouchers">
        <mat-card-title>Vouchers deste usuario</mat-card-title>

        <table mat-table [dataSource]="vouchers" class="mat-elevation-z8 col-xs-12">
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
        
            <ng-container matColumnDef="remover">
                <th mat-header-cell *matHeaderCellDef> Remover </th>
                <td mat-cell *matCellDef="let element" class="clickable" (click)="delete(element)"> Remover </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="colunas"></tr>
            <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
        </table>
    </mat-card>
</div>