/* You can add global styles to this file, and also import other style files */
@import 'assets/css/bootstrap.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.btn-group > .btn:last-child:not(:first-child){
    margin-left: 10px;
}

.mat-table tr:not(.mat-header-row):hover {
    background: #f5f5f5;
}

.clickable{
    cursor: pointer;
}